@using Microsoft.AspNetCore.Http
<html>
	<head>
		<title>MySite</title>
		<link href="/site.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div>
			<h1 class="title">Find your best car</h1>
		</div>
		<div>
			@if (ViewContext.HttpContext.Session.GetString("loggedUserId") != null)
			{
				<ul class="navbarIndex">
					<div>
						<li class="item-bar"><a href="/Home/Index">Home</a></li>
					</div>
					<div>
						<li class="item-bar"><a href="/Home/GoProfile">Your profile</a></li>
						<li class="item-bar"><a href="/Home/Logout">Logout</a></li>
					</div>
				</ul>
				<div>
					<h2 class="CreateAd"><a href="/Ads/CreateCar"><b>/CREATE YOUR OWN AD/</b></a></h2>
				</div>
			}
			else
			{
				<ul class="navbar">
					<li class="item-bar"><a href="/Home/Login">Login</a></li>
					<li class="item-bar"><a href="/Home/CreateUser">Register</a></li>
				</ul>
			}
		</div>
		@RenderBody()
	</body>
</html>
